@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

:root{
    --color-red: #d83364;
}

*,
*::before,
*::after,
*:focus {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  border: none; 
}

button:focus {
  outline: none; 
}

html {
  font-size: 62.5%; 
}

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  background-color: #f9ebef;
  color: #050505;
  padding: 5rem;
  overflow-x: hidden;
}

a{
    text-decoration: none;
    transition: all .2s ease-in-out;
}

li{
    list-style: none;
}

.main{
    max-width: 120rem;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0.3rem 0.94rem #8080800f;
}

.grid{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 30rem));
}

.desc{
    color: #70737b;
    line-height: 2.4rem;
}

.heading{
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.heading h2{
    font-weight: 700;
}

.heading h2 span{
    color: var(--color-red);
}

.lr-container{
    padding-left: 3rem;
    padding-right: 3rem;
}

.txt-center{
    text-align: center;
}

.--mb0{
    margin-bottom: 0 !important;
}

.--mt2{
    margin-top: 2rem !important;
}

.--mt3{
    margin-top: 3rem !important;
}

.--mb2{
    margin-bottom: 2rem !important;
}

.btn-red{
    color: #fff;
    background-color: var(--color-red);
    border: none;
    padding: 1rem 2.3rem;
    font-size: 1.3rem;
    font-family: inherit;
    font-weight: 400;
    border-radius: 4px;
    cursor: pointer;
}


/* NAV
----------------- */

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.nav__item{
    display: inline-block;
    vertical-align: middle;
    margin-left: 2rem;
}

.nav__link{
    color: inherit;
    font-weight: 500;
}

.nav__link:hover{
    color: var(--color-red);
}

/* HEADER
----------------- */

.header{
    display: flex;
    align-items: center;
}

.header__heading{
    font-size: 2.5rem;
    line-height: 3.4rem;
    font-weight: 700;
    text-transform: uppercase;
}

.header__heading span{
    color:  var(--color-red);
}

/* SECTION ACTUALITY
---------------------- */

.section-actuality{
    background-color: #fafbff;
    padding-bottom: 3rem;
}

.actuality-card__illustration{
    height: 25rem;
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
}

.actuality-card__illustration img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.actuality-card__content{
    padding-top: 2rem;
}

/* SECTION REALISATION
---------------------- */

.section-realisation{
    background-color: #fff7f9;
    padding-bottom: 3rem;
}

.slider{
    width: 100%;
    overflow-x: auto;
}

.slider::-webkit-scrollbar {
    background-color:#fff;
    width:10px;

}


.slider ul{
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.slider li{
    padding: 2rem 0;
}

.realisation-card{
    position: relative;
    height: 30rem;
    width: 25rem;
    border-radius: 10px;
    background-color: black;
    cursor: pointer;
    filter: brightness(0.8);
    transition: all .1s;
}

.action{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000b6;
    transition: all .1s;
}

.action img{
    height: 4rem;
    width: 4rem;
    object-fit: contain;
}

.realisation-card:hover{
    transform: scale(1.02);
}

.realisation-card:hover .action{
    height: 9rem;
    width: 9rem;
}

.realisation-card .illustration{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}